name: SAST
on:
  workflow_dispatch:
  workflow_call:
  pull_request:

jobs:
  semgrep_actions:
    permissions: write-all
    name: Semgrep
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run semgrep analysis (blocking mode)
        run: semgrep scan --sarif --sarif-output=semgrep.sarif
